<div class="resheader"><h2><a href="{{ link|escape }}">{{ title|escape }}</a> <span style="font-size: small; vertical-align: top;">[<span style="cursor: pointer;" onclick="delFeed('{{ reqprefix }}', {{ rid }}); return false;">X</span>]</span></h2>
<span class="resinfo">Resource <a href="{{ url }}">id {{ rid }}</a>, feed penalty: {{ penalty }} %<br />
{% if updated %}updated: {{ updated }},{% endif %}
polled: {{ polled }}
{% if error_info %}<br /><span class="error">Error: {{ error_info }}</span>{% endif %}
</span></div>
<ul class="headlines">
{% for item in items %}<li><a href="{{ item.link|escape }}">{{ item.title|escape }}</a></li>{% endfor %}
</ul>
